#calculator {
    border-style: solid;
    border-color: seagreen;
    border-width: 0.2em;
    background-color: lightblue;
    width: 300px;
    height: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display {
    border-style: solid;
    border-color: darkcyan;
    border-width: 0.01em;
    background-color: powderblue;
    text-align: left;
    padding: .2em 0em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-size: 1.5em;
}

#pad {
    display: grid;
    grid-template-areas: 
    "lparen rparen ce clr"
    "svn eight nine multi"
    "four five six div"
    "one two three minus"
    "zero eq eq plus";
    margin: 0.5em;
    background-color: powderblue;
}

.pad-button {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-color: darkcyan;
    border-width: .05em;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: svn;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#equal {
    grid-area: eq;
}

#plus {
    grid-area: plus;
}

#subtract {
    grid-area: minus;
}

#multiply {
    grid-area: multi;
}

#divide {
    grid-area: div;
}

#CE {
    grid-area: ce;
}

#C {
    grid-area: clr;
}

#lparen {
    grid-area: lparen;
}

#rparen {
    grid-area: rparen;
}